.dialog-cheader {
    height: 75px;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;

    .icon {
        margin-right: 20px;
    }

    small {
        display: inline-block;
        margin-top: 5px;
        font-size: 11px;
    }

    img {
        margin-left: auto;
    }
}

.achievements-badges {
    max-height: 200px;
    
    .scroll-wrapper-content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 1fr;
        grid-gap: 10px;

        span {
            background-color: #cbcbcb;
            border: 1px solid #000;
            border-radius: 4px;
            padding-top: -100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &.is-active {
                box-shadow: inset 0 0 0 2px #fff;
            }
        }
    }
}

.achievements-badge {
    margin-top: 20px;
    background-color: #cbcbcb;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: row;

    .achievements-badge-image {
        height: 80px;
        width: 80px;
    }
    
    .achievements-badge-content {
        margin-left: 10px;
        flex: 1;
        display: flex;
        flex-direction: column;

        small {
            font-size: 12px;
            margin-bottom: auto;
        }
    }
}