.room {
    background-color: #000;
    height: 100vh;

    .room-chat{
        position: fixed;
        left: 40%;
        top: 100px;
    }

    .room-details {
        position: fixed;
        bottom: 60px;
    }
}