.hotel {
    height: 100vh;
    background:
        url('../../assets/web-gallery/hotelview/may19_background_left.png'), 
		url('../../assets/web-gallery/hotelview/background_right_easter2016.png'),
		url('../../assets/web-gallery/hotelview/drape.png'),
        url('../../assets/web-gallery/hotelview/jan19_background_gradient.png');
    background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;
	background-position: left bottom, right bottom, 125px top;
    background-size: auto, auto, auto, 1% 100%;
    image-rendering: pixelated;
    position: relative;

    .informations-panel {
        position: absolute;
        left: 310px;
        top: 32px;
    }
}